
{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style type="text/css">
        body{
  /* The image used */
    background-image: url("{% static '/blackboard.jpg' %}");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
{% endblock %}
{% block title %} | Místnosti{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Slovo</h1>
    </div>
{% endblock %}